@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Riffic';
		src: url('/fonts/RifficFree-Bold.ttf') format('truetype');
		font-weight: bold;
		font-style: bold;
	}

	:root {
		--text: #dfeefb;
		--background: #99ccff;
		--primary: #4d5d6d;
		--secondary: #9d7bf1;
		--accent: #a257ed;
	}
	.dark {
		--background: #003366;

		--secondary: #300e86;
		--accent: #5c11a6;
	}
}
