@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Riffic';
		src: url('/fonts/RifficFree-Bold.ttf') format('truetype');
		font-weight: bold;
		font-style: bold;
	}
}
